@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');

#menu nav {
    text-align: center;
    top: 0px;
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    z-index: 1000
}

#menu nav ul{
    margin: 10px 5em 20px 3em;
    list-style: none;
    display: flex;
    color:#fff;
    text-decoration: none;

}
#menu nav ul li{
    list-style: none;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: medium;
    font-family: "Playpen sans";
    font-weight: 800;
}

#menu nav ul li a{
    text-decoration: none;
    color: #fff;
}

#menu nav ul li :hover{
    background-color: #ccc;
    margin: 0;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    color: #333;
    justify-content: center;
}

#enviar {
    background-color: #cb5656;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
}