<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Inicio Sesión</title>

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/generales.css}"/>
    <link rel="stylesheet" th:href="@{/css/login-registro.css}"/>
</head>

<body>
<header id="menu">
    <nav>
        <ul id="nav-links">
            <li><a href="home.html">Inicio</a></li>
            <li><a id="ir-a-registro" href="nuevo-usuario">Registrarme</a></li>
        </ul>
    </nav>
</header>
<main role="main" class="container">

    <div class = "auth-container">
        <div id="loginbox" style="margin-top:50px;" class="auth-form">
            <form action="#" th:action="@{/validar-login}" method="POST" th:object="${datosLogin}">
                <h1>Inicio de Sesión</h1>
                <hr class="colorgraph"><br>

                <input th:field="*{email}" id="login-email" type="email" class="form-control" th:placeholder="Email" required/>
                <input th:field="*{password}" type="password" id="login-password" class="form-control" th:placeholder="Contraseña" required/>

                <button id="btn-login" class="btn btn-lg btn-primary btn-block" Type="Submit">Iniciar Sesión</button>

                <p th:if="${error != null}" class="alert alert-danger" th:text="'Error ' + ${error}">
                </p>
            </form>
        </div>
    </div>
</main>
<!-- /.container -->

<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>