<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>

    <link rel="stylesheet" th:href="@{/css/perfil.css}"/>
</head>
<body>
<header>
    <div class="header-container">
        <div class="logo">
            <img th:src="@{/imgStatic/logo2.png}" alt="Logo">
        </div>
        <nav>
            <ul>
                <li><a href="home.html">Inicio</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Recetas</a></li>
                <li><a href="#">Fotos</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
        <div class="profile-buttons">
            <button class="search-button">
                <img th:src="@{/imgStatic/lupa.png}" alt="Buscar">
            </button>
            <input type="text" class="search-field" placeholder="Buscar...">
            <button class="calculator-button">
                <img th:src="@{/imgStatic/calcu.png}" alt="Calculadora">
            </button>
            <button class="config-button">
                <img th:src="@{/imgStatic/config.png}" alt="Configuración">
            </button>
        </div>

    </div>
</header>

<main class="container">
<div >
    <!--Perfil -->
    <section class="profile-section">
        <div class="profile-header">
            <div class="profile-pic">
                <img th:src="@{/imgStatic/PerfilDefault.jpg}" alt="Avatar de usuario">
            </div>
            <div class="profile-info">
                <h3>Juan, Java</h3>
                <p>Experto Mixólogo con más de 10 años de experiencia en barras y eventos</p>
            </div>
            <div class="badges">
                <div class="badge">
                    <img th:src="@{/imgStatic/Insignia1.png}" alt="Insignia #1">
                    <p>Líder de la comunidad</p>
                </div>
                <div class="badge">
                    <img th:src="@{/imgStatic/Insignia2.png}" alt="Insignia #2">
                    <p>Herborista</p>
                </div>
                <div class="badge">
                    <img th:src="@{/imgStatic/Insignia3.png}" alt="Insignia #3">
                    <p>Títulos Certificados</p>
                </div>
            </div>
        </div>
    </section>

    <!--Contacto -->
    <section class="contact-section">
        <h4>Contacto</h4>
        <div class="contact-items">
            <div class="contact-item">
                <img th:src="@{/imgStatic/IconoCelular.png}" alt="Teléfono">
                <p>+54 9 11 8723-1194</p>
            </div>
            <div class="contact-item">
                <img th:src="@{/imgStatic/IconoEmail.png}" alt="Email">
                <div style="display: flex; flex-direction: column; align-items: center;">
                    <p>ajenjoliquor@gmail.com</p>
                </div>
            </div>
            <div class="contact-item">
                <img th:src="@{/imgStatic/IconoRedes.png}" alt="Redes Sociales">
                <p>Redes Sociales</p>
            </div>
        </div>
    </section>

    <!--Cócteles Favoritos -->
    <section class="favorites-section">
        <h4>Cócteles Favoritos</h4>
        <div class="favorites-items">
            <div class="favorite-item">
                <img th:src="@{/imgStatic/negroni.jpg}" alt="Cóctel 1">
                <p>Negroni</p>
            </div>
            <div class="favorite-item">
                <img th:src="@{/imgStatic/daiquiriRosa.jpg}" alt="Cóctel 2">
                <p>Daiquiri Rosa</p>
            </div>
            <div class="favorite-item">
                <img th:src="@{/imgStatic/caipirina.jpg}" alt="Cóctel 3">
                <p>Caipirinha</p>
            </div>
        </div>
    </section>

    <!--Historial de Recetas -->
    <section class="history-section">
        <h4>Historial de Recetas</h4>
        <p>Explora los cócteles que estuviste haciendo!</p>
        <div class="history-items">
            <div class="history-item">Cóctel random #1</div>
            <div class="history-item">Cóctel random #2</div>
            <div class="history-item">Cóctel random #3</div>
        </div>
    </section>
</div>
    <!--Redes Sociales -->
    <footer class="social-footer">
        <img th:src="@{/imgStatic/IconoInstagram.png}" alt="Instagram">
        <img th:src="@{/imgStatic/IconoLinkedin.png}" alt="LinkedIn">
        <img th:src="@{/imgStatic/IconoYoutube.png}" alt="YouTube">
        <img th:src="@{/imgStatic/IconoFacebook.png}" alt="Facebook">
    </footer>

</main>
</body>
</html>
